<div >
  <div class="panel callout radius">
	  
Hi, you can calculate your return from  investment . Just fill in the form
and of you go!

	</div>
</div>

<div >
	<div>

	  <%= render 'form' %>

	</div>

</div>